@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

body {
    margin: 0;
    background-color: #D5E1EF;
    font-size:15px;
    align-content: center;
    max-width: 1440px;
    min-width: 375px;
}
* {
    font-family: 'Outfit', sans-serif;
}
.conteiner {
    margin: auto ;
    margin-top: 5%;
    width: 300px;
    height: max-content;
    padding: 20px;
    background-color: #FFFEFF;
    align-content: center;
    text-align: center;
    border-radius: 20px;
}

.qr-img {
    width: 300px;
    margin: auto;
    border-radius: 20px;

}

h2 {
    font-family: 'Outfit', sans-serif;
    color: hsl(218, 44%, 22%)
}
p {
    color: hsl(212, 45%, 80%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

footer {
    margin-top: 20%;
    height: 80px;
    background-color: FFFEFF ;

}

footer p {
    font-size: 15px;
    color: hsl(217, 100%, 8%);
    /* padding: 10px; */
    margin-bottom: 0;
}

footer.attribution { 
    font-size: 11px; 
    text-align: center;
}

footer.attribution a {
    text-decoration: none;
    color: hsl(221, 89%, 49%);
}

#My-name {
    color: rgb(224, 10, 224);
    text-decoration: none;
}